	<footer class="rodape">
		<div class="container">
			<div class="flex-around-start">
				<div class="flex-center redes">
					<a href="">
						<img src="icons/fb_48x48.png" alt="">
					</a>	
					<a href="">
						<img src="icons/instagram_48x48.png" alt="">
					</a>
					<a href="">
						<img src="icons/gmail_48x48.png" alt="">
					</a>
					<p>Siganos-nos nas redes sociais</p>
				</div>
				<div>
					<form class="flex-center form-rodape">
						<input type="text" name="commit" autocomplete="off" placeholder="Sua opinião aqui">
						<button type="submit">
							Enviar
						</button>
					</form>
				</div>
			</div>
			<div class="flex-between-start list-footer">
				<div>
					<h5>NOSSOS CONTATOS</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<h5>INSTITUCIONAL</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<h5>LOJA SEGURA</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<img class="img-fim-rodape" src="https://via.placeholder.com/300x200/FFFFFF/000000/" alt="">
				</div>
			</div>
			<p class="copy"> Copyright &copy; 2020,  Thiago Britto</p>
		</div>
	</footer>
	
</body>
</html>