<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<!--Material Icons-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--MyCSS-->
	<link rel="stylesheet" type="text/css" href="__SITE__/resource/template/site/css/style.css">
	
	<title>B.Shoes</title>
</head>
<body>
	<header id="cabecalho">
		<nav class="container flex-between">
			<h1>
				<a href="">	B.Shoes	</a>
			</h1>
			<ul class="flex-around">
				<li><a href="#">Quem Somos</a></li>
				<li><a href="#">Registrar-se</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">
					<i class="small material-icons" >local_grocery_store</i>
				</a></li>
			</ul>
		</nav>
	</header>