<!DOCTYPE html>
<html lang="pt-br">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!-- Style CSS3 -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- FavIcons 
	<link rel="icon" type="image/png" href="#" sizes="48x48"/>
	<link rel="shortcut icon" type="image/x-icon"  href="#"/>
	-->
	
	<title>B.Shoes</title>

</head>
<body>
	<header id="cabecalho">
		<nav class="container flex-between">
			<h1>
				<a href="">	B.Shoes	</a>
			</h1>
			<ul class="flex-around">
				<li><a href="#">Quem Somos</a></li>
				<li><a href="#">Registrar-se</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">
					<i class="small material-icons" >local_grocery_store</i>
				</a></li>
			</ul>
		</nav>
	</header>

	<section id="section-form-logo">
		<div class="container flex-between sub-header-top">
			<form class="flex-center">
				<input type="text" name="q" autocomplete="off" placeholder="Encontre Aqui">
				<button class="small material-icons" type="submit">
					search
				</button>
			</form>
			<a class="logo" href="#">
				B.Shoes
			</a>
			<div id="user">
				<p>Olá seja bem vindo: thiago brito</p>
			</div>
		</div>

		<div class="container-fluid section-media">
			<a href="#">VIDEOS</a>
			<a href="#">SOCIAL</a>
			<a href="#">SPORT</a>
		</div>

		<img class="container-fluid" src="https://via.placeholder.com/1200x230/6290C3/FFFFFF/?text=placeholder 1200 x 230" alt="banner destaque">

		<div class="container-fluid flex-around section-frete-pagamento">
			<div>
				<img class="icon-" src="icons/icon_visa_master_hiper.png" alt="frete gratis">
				<p>
					Parcele em eté <strong> 5x sem juros </strong>
				</p>
			</div>
			<div>
				<img class="icon-" src="icons/icom_boleto.png" alt="frete gratis">
				<p> 
					<strong> 5% de desconto </strong> <br> no boleto bancario
				</p>
			</div>
			<div>
				<img class="icon-" src="icons/icom_frete.png" alt="frete gratis">
				<p>
					<strong> Frete gratis </strong> <br> acima de R$ 250,00 em compras
				</p>
			</div>	
		</div>
	</section>

	<section id="banners-min" class="container flex-between">
		<img src="https://via.placeholder.com/600x150/6290C3/FFFFFF/?text=placeholder 600 x 100" alt="">
		<img src="https://via.placeholder.com/600x150/6290C3/FFFFFF/?text=placeholder 600 x 100" alt="">
		<img src="https://via.placeholder.com/600x150/6290C3/FFFFFF/?text=placeholder 600 x 100" alt="">
	</section>
		
	<section id="destaque" class="container">
		<h2> &#187; LANÇAMENTOS & DESTAQUES</h2>
		<div class="flex-between">
			<div>
				<img src="images/image_1_900x700.jpg" alt="">
				<h3>nike air</h3>
				<p class="decribe">
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
				</p>
				<p>
					De <span class="price-del"> R$ 123,00</span> por <br>
					<span class="price">R$ 123,00</span>
				</p>
				<a href="">Comprar</a>
				<a href="" class="cart">Carrinho</a>
			</div>
			<div>
				<img src="images/image_1_900x700.jpg" alt="">
				<h3>nike air</h3>
				<p class="decribe">
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
				</p>
				<p>
					De <span class="price-del"> R$ 123,00</span> por <br>
					<span class="price">R$ 123,00</span>
				</p>
				<a href="">Comprar</a>
				<a href="" class="cart">Carrinho</a>
			</div>
			<div>
				<img src="images/image_1_900x700.jpg" alt="">
				<h3>nike air</h3>
				<p class="decribe">
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
				</p>
				<p>
					De <span class="price-del"> R$ 123,00</span> por <br>
					<span class="price">R$ 123,00</span>
				</p>
				<a href="">Comprar</a>
				<a href="" class="cart">Carrinho</a>
			</div>
			<div>
				<img src="images/image_1_900x700.jpg" alt="">
				<h3>nike air</h3>
				<p class="decribe">
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
				</p>
				<p>
					De <span class="price-del"> R$ 123,00</span> por <br>
					<span class="price">R$ 123,00</span>
				</p>
				<a href="">Comprar</a>
				<a href="" class="cart">Carrinho</a>
			</div>
		</div>
	</section>

	<img class="container banner-destaque" src="https://via.placeholder.com/600x100/6290C3/FFFFFF/" alt="banner">

	<section id="destaque" class="container">
		<h2> &#187; PROMOÇÕES & OFERTAS</h2>
		<div class="flex-between">
			<div>
				<img src="images/image_1_900x700.jpg" alt="">
				<h3>nike air</h3>
				<p class="decribe">
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
				</p>
				<p>
					De <span class="price-del"> R$ 123,00</span> por <br>
					<span class="price">R$ 123,00</span>
				</p>
				<a href="">Comprar</a>
				<a href="" class="cart">Carrinho</a>
			</div>
			<div>
				<img src="images/image_1_900x700.jpg" alt="">
				<h3>nike air</h3>
				<p class="decribe">
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
				</p>
				<p>
					De <span class="price-del"> R$ 123,00</span> por <br>
					<span class="price">R$ 123,00</span>
				</p>
				<a href="">Comprar</a>
				<a href="" class="cart">Carrinho</a>
			</div>
			<div>
				<img src="images/image_1_900x700.jpg" alt="">
				<h3>nike air</h3>
				<p class="decribe">
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
				</p>
				<p>
					De <span class="price-del"> R$ 123,00</span> por <br>
					<span class="price">R$ 123,00</span>
				</p>
				<a href="">Comprar</a>
				<a href="" class="cart">Carrinho</a>
			</div>
			<div>
				<img src="images/image_1_900x700.jpg" alt="">
				<h3>nike air</h3>
				<p class="decribe">
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
					<br>Lorem ipsum dolor sit amet.
				</p>
				<p>
					De <span class="price-del"> R$ 123,00</span> por <br>
					<span class="price">R$ 123,00</span>
				</p>
				<a href="">Comprar</a>
				<a href="" class="cart">Carrinho</a>
			</div>			
		</div>
	</section>

	<footer class="rodape">
		<div class="container">
			<div class="flex-around-start">
				<div class="flex-center redes">
					<a href="">
						<img src="icons/fb_48x48.png" alt="">
					</a>	
					<a href="">
						<img src="icons/instagram_48x48.png" alt="">
					</a>
					<a href="">
						<img src="icons/gmail_48x48.png" alt="">
					</a>
					<p>Siganos-nos nas redes sociais</p>
				</div>
				<div>
					<form class="flex-center form-rodape">
						<input type="text" name="commit" autocomplete="off" placeholder="Sua opinião aqui">
						<button type="submit">
							Enviar
						</button>
					</form>
				</div>
			</div>
			<div class="flex-between-start list-footer">
				<div>
					<h5>NOSSOS CONTATOS</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<h5>INSTITUCIONAL</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<h5>LOJA SEGURA</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<img class="img-fim-rodape" src="https://via.placeholder.com/300x200/FFFFFF/000000/" alt="">
				</div>
			</div>
			<p class="copy"> Copyright &copy; 2020,  Thiago Britto</p>
		</div>
	</footer>

	<!-- JavaScript 
	<script type="text/javascript" src="#"></script>
	-->
</body>
</html>
