<!DOCTYPE html>
<html lang="pt-br">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!-- Style CSS3 -->
	<link rel="stylesheet" type="text/css" href="css/grid_system.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- FavIcons 
	<link rel="icon" type="image/png" href="#" sizes="48x48"/>
	<link rel="shortcut icon" type="image/x-icon"  href="#"/>
	-->
	
	<title>B.Shoes</title>

</head>
<body>
	<!-- HEADER -->
	<header id="cabecalho">
		<nav class="container flex-between">
			<h1>
				<a href="">	B.Shoes	</a>
			</h1>
			<ul class="flex-around">
				<li><a href="#">Quem Somos</a></li>
				<li><a href="#">Registrar-se</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">
					<i class="small material-icons" >local_grocery_store</i>
				</a></li>
			</ul>
		</nav>
	</header>
	<!-- END HEADER -->

	<!-- SECTION -->
	<section class="row"> 
		<div class="s12 m7">
			<img src="images/image_2_900x700.jpg" alt="">
		</div>
		<div class="s12 m5">
			<br>
			<h1>Tenis Nike @overrider</h1>
			<br>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est <laborum class=""></laborum>
			</p>
			<br>
			<ul>
				<li> Novo sistema de amortecimento </li>
				<li> Ultra mascio </li>
				<li> Tcnologia @Overrider </li>
				<li> Para uso extremo </li>
			</ul>
			<br>
			<p>
				De <span class="price-del"> R$ 123,00</span> por <br>
				<span class="price">R$ 123,00</span>
				<br>
				<br>
				<form>
					<input type="number" min="1" value="1" name="qtd">
				</form>
				<div>
					<a href="" class="btn-comprar">Comprar</a>
					<a href="" class="btn-comprar cart">Carrinho</a>
				</div>

			</p>
		</div>
	</section>
	<!-- END SETON -->

	<!-- FOOTER -->
	<footer class="rodape">
		<div class="container">
			<div class="flex-around-start">
				<div class="flex-center redes">
					<a href="">
						<img src="icons/fb_48x48.png" alt="">
					</a>	
					<a href="">
						<img src="icons/instagram_48x48.png" alt="">
					</a>
					<a href="">
						<img src="icons/gmail_48x48.png" alt="">
					</a>
					<p>Siganos-nos nas redes sociais</p>
				</div>
				<div>
					<form class="flex-center form-rodape">
						<input type="text" name="commit" autocomplete="off" placeholder="Sua opinião aqui">
						<button type="submit">
							Enviar
						</button>
					</form>
				</div>
			</div>
			<div class="flex-between-start list-footer">
				<div>
					<h5>NOSSOS CONTATOS</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<h5>INSTITUCIONAL</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<h5>LOJA SEGURA</h5>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
					<p>Lorem ipsum dolor sit amet,</p>
				</div>
				<div>
					<img class="img-fim-rodape" src="https://via.placeholder.com/300x200/FFFFFF/000000/" alt="">
				</div>
			</div>
			<p class="copy"> Copyright &copy; 2020,  Thiago Britto</p>
		</div>
	</footer>
	<!-- END FOOTER -->

	<!-- JavaScript 
	<script type="text/javascript" src="#"></script>
	-->
</body>
</html>
