	<!--rodape-->            
	<footer id="rodape">
		<div class="redes">
			<div class="container">
				<div class="row">
					<div class="col s12 m6">
						<p>
							Acompanhe-nos nas redes sociais!
						</p>
					</div>
					<div class="col s12 m6 redes">
						<a href="">
							<img src="__SITE__/tpl/img/social-icons-white/fb_48x48.png" alt="facebook">
						</a>
						<a href="">
							<img src="__SITE__/tpl/img/social-icons-white/instagram_48x48.png" alt="instagran">
						</a>
						<a href="">
							<img src="__SITE__/tpl/img/social-icons-white/pinterest_48x48.png" alt="pinterest">
						</a>
						<a href="">
							<img src="__SITE__/tpl/img/social-icons-white/twitter_48x48.png" alt="twitter">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l3">
					<h6>B-Shoes</h6>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
				<div class="col s12 m6 l3">
					<h6>Categorias</h6>
					<ul>
						<li><a href="#">corrida</a></li>
						<li><a href="#">trilha</a></li>
						<li><a href="#">parkour</a></li>
						<li><a href="#">rapel</a></li>
					</ul>
				</div>
				<div class="col s12 m6 l3">
					<h6>Categorias</h6>
					<ul>
						<li><a href="#">corrida</a></li>
						<li><a href="#">trilha</a></li>
						<li><a href="#">parkour</a></li>
						<li><a href="#">rapel</a></li>
					</ul>
				</div>
				<div class="col s12 m6 l3">
					<h6>Categorias</h6>
					<ul>
						<li><a href="#">corrida</a></li>
						<li><a href="#">trilha</a></li>
						<li><a href="#">parkour</a></li>
						<li><a href="#">rapel</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<p class="copy">
						Copyright &copy; 2020 - Thiago Britto
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!--rodape-->            

	<!--Materialize js-->
	<script type="text/javascript" src="__SITE__/dist/materialize/js/materialize.min.js"></script>
	
	<!--My JavaScript-->
	<script type="text/javascript" src="__SITE__/tpl/js/functions.js"></script>
	<script type="text/javascript" src="__SITE__/tpl/js/script.js"></script>
</body>
</html>
