<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Materialize Fonts CSS--><!-- tiny: 1rem|small: 2rem|medium: 4rem|large: 6rem-->
	<link href="__SITE__/tpl/css/material_icons.css" rel="stylesheet">
	
	<!-- Materialize CSS-->
	<link rel="stylesheet" href="__SITE__/dist/materialize/css/materialize.min.css">
	
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="__SITE__/tpl/css/sheet.css">
	<link rel="stylesheet" type="text/css" href="__SITE__/tpl/css/single.css">
	
	<title>Loja virtual com php</title>
</head>
<body>
	<!--cabecalho-->
	<header id="cabecalho">
		<div class="comtainer">
			<div class="row">
				<nav>
					<div class="col s4 btn_mobile_menu">
						<span id="btn-menu">
							<i class="small material-icons">menu</i>
						</span>
					</div>
					<div class="col s4 m4 l3">
						<a href="/" id="logo">
							<h1>
								B.Shoes
							</h1>
						</a>
					</div>
					<div class="col s12 l8 navbar_menu">
						<ul>
							<li>
								<div class="header_menu">
									<span id="close_back">
										<i class="small material-icons">arrow_back</i>
									</span>
									Menu
								</div>
							</li>
							<li>
								<form id="query" action="#" method="get">
									<input type="text" name="query" autocomplete="off" placeholder="Search">
									<button>
										<i class="small material-icons">search</i>
									</button>
								</form>
							</li>
							<li><a href="#">Nike</a></li>
							<li><a href="#">addidas</a></li>
							<li><a href="#">addidas</a></li>
							<li><a href="#">addidas</a></li>
							<li><a href="#">addidas</a></li>
							<li><a href="#">addidas</a></li>
						</ul>
						<div id="close_area"></div>
					</div>
					<div class="col s4 l1">
						<span id="btn-back">
							<i class="small material-icons">shopping_cart</i>
						</span>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<!--end cabecalho--> 