
<div class="container">
	<div class="row">
		
		<div class="col s12 m6 l4 xl3">
			<section class="product">
				<header>
					<img src="__SITE__/tpl/img/img-product/image_1_900x700.jpg" alt="">
				</header>
				<article>
					<h2>Titulo do produto</h2>
					<p>
						Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur.
					</p>
				</article>
				<footer>
					<p class="promocional">
						 De <del>RS 10,00</del> por:
					</p>
					<p>
						R$ 20,00
					</p>
					<div>
						<a href="#" class="info">
							<i class="small material-icons">info_outline</i>
						</a>
						<a href="/single/3" class="check-out">
							<i class="small material-icons">check</i>
						</a>
						<a href="#" class="love">
							<i class="small material-icons">favorite_border</i>
						</a>
						<a href="#" class="add">
							<i class="small material-icons">add</i>
						</a>
					</div>
					<div></div>
				</footer>
			</section>
		</div>
		
	</div>
</div>